@tailwand base;

.container{
  width: 100%;
}

@media (min-width: 480px){
  .container{
    max-width: 480px;
  }
}

@media (min-width: 768px){
  .container{
    max-width: 768px;
  }
}

@media (min-width: 976px){
  .container{
    max-width: 976px;
  }
}

@media (min-width: 1440px){
  .container{
    max-width: 1440px;
  }
}

.relative{
  position: relative;
}

.mx-auto{
  margin-left: auto;
  margin-right: auto;
}

.flex{
  display: flex;
}

.hidden{
  display: none;
}

.items-center{
  align-items: center;
}

.justify-center{
  justify-content: center;
}

.justify-between{
  justify-content: space-between;
}

.space-x-6 > :not([hidden]) ~ :not([hidden]){
  --tw-space-x-reverse: 0;
  margin-right: calc(1.5rem * var(--tw-space-x-reverse));
  margin-left: calc(1.5rem * calc(1 - var(--tw-space-x-reverse)));
}

.rounded-full{
  border-radius: 9999px;
}

.bg-brightRed{
  --tw-bg-opacity: 1;
  background-color: hsl(12 88% 59% / var(--tw-bg-opacity));
}

.p-6{
  padding: 1.5rem;
}

.p-3{
  padding: 0.75rem;
}

.px-6{
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

.pt-2{
  padding-top: 0.5rem;
}

.text-white{
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity));
}

body {
  background-image: url('../img/bg-tablet-pattern.svg');
  background-repeat: no-repeat;
  background-size: 800px;
  background-position: 90% -25%;
}

#cta {
  background-image: url('../img/bg-simplify-section-desktop.svg');
  background-repeat: no-repeat;
}

@media (max-width: 576px) {
  body {
    background-position: 50px -50px;
    background-size: 500px;
  }

  #cta {
    background-image: url('../img/bg-simplify-section-mobile.svg');
  }
}

/* Hamburger Menu */

.hamburger {
  cursor: pointer;
  width: 24px;
  height: 24px;
  transition: all 0.25s;
  position: relative;
}

.hamburger-top,
  .hamburger-middle,
  .hamburger-bottom {
  position: absolute;
  top: 0;
  left: 0;
  width: 24px;
  height: 2px;
  background: #000;
  transform: rotate(0);
  transition: all 0.5s;
}

.hamburger-middle {
  transform: translateY(7px);
}

.hamburger-bottom {
  transform: translateY(14px);
}

.open {
  transform: rotate(90deg);
  transform: translateY(0px);
}

.open .hamburger-top {
  transform: rotate(45deg) translateY(6px) translate(6px);
}

.open .hamburger-middle {
  display: none;
}

.open .hamburger-bottom {
  transform: rotate(-45deg) translateY(6px) translate(-6px);
}

.hover\:bg-brightRed:hover{
  --tw-bg-opacity: 1;
  background-color: hsl(12 88% 59% / var(--tw-bg-opacity));
}

.hover\:text-darkGrayishBlue:hover{
  --tw-text-opacity: 1;
  color: hsl(227 12% 61% / var(--tw-text-opacity));
}

@media (min-width: 768px){
  .md\:flex{
    display: flex;
  }
}